{% extends "base.html" %}

{% block content %}
<h1 class="title">
    <body>  
        <h3>reservation Information</h3>   
        <table border=5>  
        <thead>  
        <td>ID</td>  
        <td>Titre</td>  
        <td>Salle ID</td>   
        <td>user ID</td>  
        <td>date de debut</td>  
        <td>duree de la reunionn</td>  
        <td>description de la reservation</td>  
        </thead>  
        {% for row in rows %}  
        <tr>  
        <td>{{row["id"]}}</td>  
        <td>{{row["title"]}}</td>  
        <td>{{row["salleId"]}}</td>  
        <td>{{row["userId"]}}</td>  
        <td>{{row["dateDebut"]}}</td>  
        <td>{{row["durationH"]}}</td>  
        <td>{{row["descriptionM"]}}</td>  
        </tr>  
        {% endfor %}   
        </table>  
        <br><br>  
       
        </body>  
</h1>
<a href="/">Go back to home page</a>  
{% endblock %}
